/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root{
    --mainGreen: #0ea800;
    --shadowGreen: #297722;
    --white: #FFFFFF;
    --backGrey: #F2F5F7;
    --borderGrey: #D0D3D8;
    --darkest: #3E4659;
    --danger: #a80000;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    color: var(--darkest);
}

body{
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 93, 105);
}

.container{
    height: 762px;
    width: 375px;
    background-color: var(--backGrey);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-radius: 16px; */
}

/* Main Components */

header{
    align-self: flex-start;
    width: 100%;
    height: 3rem;
    background-color: var(--mainGreen);
    /* border-radius: 16px 16px 4px 4px; */

}

main{
    width: 100%;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: scroll;
}

footer{
    width: 100%;
    align-self: flex-end;
    background-color: var(--mainGreen);
    min-height: 3rem;
    /* border-radius: 4px 4px 16px 16px; */
}

/* Main Contents Components */

.days{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.day{
    height: 100%;
    width: calc(100%/7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-left: 1px solid var(--white);
}
.today{
    border-left: none;
}

.card{
    width: 335px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 4pt;
    border-radius: 4px;
    border: 1px solid var(--borderGrey);
}
.lineItem{
    width: 100%;
    display: flex;
    height: 5rem;
}

.cardLeft{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cardThumbnail{
    height: 100%;
    width: 80px;
}
.cardThumbnail img{
    min-width: 100%;
    max-width: 80px;
    height: 100%;
    object-fit: cover;
}
.cardCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 165px;
    padding: .25rem;
}
.cardRight{
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: space-between;
    padding: .25rem;
}
.cardRightIcons{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.cardRightIcons i{
    font-size: 1.5rem;
}

.info{
    display: none;
    flex-direction: column;
    align-items: center;
}
.flexIt{
    display: flex;
}

.priceInfo{
    display: flex;
    width: 80%;
    border-bottom: 2pt solid grey;
    padding: .5rem 0;
}

.notesArea{
    width: 80%;
    padding: .5rem 0;
}

.notesArea textarea{
    resize: none;
    min-height: 8rem;
    width: 100%;
    border-radius: 0;
    border: none;
    margin: .5rem 0;
    padding: 0;
    background-color: var(--white);
    font-size: 16px;
}

footer nav{
    height: 3rem;
}

footer nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

li button{
    border: none;
    border-radius: 0;
    background-color: var(--mainGreen);
    color: var(--white);
    font-weight: 400;
    font-size: 1.2rem;
}

a{
    color: var(--darkest);
}



/* Styling Essentials */

h1{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 8px 20px;
    width: calc(100% - 40px);
    color: var(--white);
}
.altColor{
    color: var(--darkest);
}

h2{
    font-size: 1.2rem;
    font-weight: 700;
    width: calc(100% - 40px);
    margin: .5rem;
    text-align: left;
}

h4{
    font-weight: 400;
}
h5{
    font-size: .7rem;
    padding-top: 6px;
    font-weight: 700;
}

i{
    cursor: pointer;
}
.selected{
    color: var(--mainGreen);
}

i:hover{
    transition: color 0.3s;
    color: var(--shadowGreen);
}

.fa-trash-alt:hover{
    color: var(--danger);
}

:focus{
    border-radius: 0;
    outline: 1px solid var(--borderGrey);
}
